# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [2]:
%pip install feedparser
import feedparser

Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     -------------------------------------- 81.1/81.1 kB 283.5 kB/s eta 0:00:00
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sgmllib3k
  Building wheel for sgmllib3k (setup.py): started
  Building wheel for sgmllib3k (setup.py): finished with status 'done'
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6048 sha256=8257b8d1f5a59a3dafc4a2690d1015e05fbfe35f0a8f717bf0e10e5d42b93c23
  Stored in directory: c:\users\carlo\appdata\local\pip\cache\wheels\65\7a\a7\78c287f64e401255dff4c13fdbc672fed5efbfd21c530114e1
Successfully built sgmllib3k
Installing collected packages: sgmllib3k, feedparser
Successfully installed feedparser-6.0.10 sgmllib3k-1.0.0
Note: you may need to restart the kernel to use updated packages.

### 1. Use feedparser to parse the following RSS feed URL.

In [5]:
nasa = feedparser.parse('https://www.nasa.gov/content/nasa-rss-feeds')

### 2. Obtain a list of components (keys) that are available for this feed.

In [7]:
nasa.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'etag', 'updated', 'updated_parsed', 'href', 'status', 'encoding', 'bozo_exception', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [8]:
nasa['feed'].keys()

dict_keys(['html', 'meta', 'links', 'script', 'summary'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [36]:
# En la URL que nos paso Yona no hay title, uso otra.
url_question4 = feedparser.parse('https://www.nasa.gov/rss/dyn/breaking_news.rss')
print(url_question4['feed']['title'])
print(url_question4['feed']['subtitle'])
print(url_question4['feed']['author'])
print(url_question4['feed']['link'])

NASA Breaking News
A RSS news feed containing the latest NASA news articles and press releases.
jim.wilson@nasa.gov
http://www.nasa.gov/

### 5. Count the number of entries that are contained in this RSS feed.

In [44]:
len(url_question4['entries'])

10

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [65]:
url_question4['entries'][0].keys()

{'title': 'Entrepreneurs to Pitch Ideas for Future in NASA ‘Space Tank’',
 'title_detail': {'type': 'text/plain',
  'language': 'en',
  'base': 'http://www.nasa.gov/',
  'value': 'Entrepreneurs to Pitch Ideas for Future in NASA ‘Space Tank’'},
 'links': [{'rel': 'alternate',
   'type': 'text/html',
   'href': 'http://www.nasa.gov/press-release/entrepreneurs-to-pitch-ideas-for-future-in-nasa-space-tank'},
  {'length': '4800279',
   'type': 'image/jpeg',
   'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/52573355372_8094630f72_o.jpeg?itok=VJU7wP3c',
   'rel': 'enclosure'}],
 'link': 'http://www.nasa.gov/press-release/entrepreneurs-to-pitch-ideas-for-future-in-nasa-space-tank',
 'summary': 'College students in NASA’s Minority University Research and Education Project (MUREP) Innovation and Technology Tech Transfer Idea Competition (MITTIC) will pitch their projects during a “Space Tank” at Space Center Houston on Friday, April 28. The competition will begin at 9:30 a.m. EDT, and the winning team will be announced at 1 p.m.',
 'summary_detail': {'type': 'text/html',
  'language': 'en',
  'base': 'http://www.nasa.gov/',
  'value': 'College students in NASA’s Minority University Research and Education Project (MUREP) Innovation and Technology Tech Transfer Idea Competition (MITTIC) will pitch their projects during a “Space Tank” at Space Center Houston on Friday, April 28. The competition will begin at 9:30 a.m. EDT, and the winning team will be announced at 1 p.m.'},
 'id': 'http://www.nasa.gov/press-release/entrepreneurs-to-pitch-ideas-for-future-in-nasa-space-tank',
 'guidislink': False,
 'published': 'Thu, 27 Apr 2023 14:02 EDT',
 'published_parsed': time.struct_time(tm_year=2023, tm_mon=4, tm_mday=27, tm_hour=18, tm_min=2, tm_sec=0, tm_wday=3, tm_yday=117, tm_isdst=0),
 'source': {'href': 'http://www.nasa.gov/rss/dyn/breaking_news.rss',
  'title': 'NASA Breaking News'},
 'dc_identifier': '486922'}

### 7. Extract a list of entry titles.

In [74]:
question7 = []

for entry in url_question4.entries:
    question7.append(entry.title)
question7

['NASA Sets Coverage for Dragon Port Relocation on Space Station',
 'Entrepreneurs to Pitch Ideas for Future in NASA ‘Space Tank’',
 'NASA Updates Coverage of Roscosmos Spacewalks at Space Station',
 'NASA Sets Coverage for Czech Republic Artemis Accords Signing Ceremony',
 'NASA Experts Available for Interviews About Sea and Sky Campaign',
 'NASA Announces Winners of 2023 Human Exploration Rover Challenge',
 'NASA Selects 12 Companies to Collaborate on Key Technology Development',
 'NASA Announces Student Winners of Power to Explore Challenge',
 'NASA, Rocket Lab Set Coverage for Tropical Cyclones Mission',
 'VP Harris, South Korea President Yoon Suk Yeol to Visit NASA Goddard']

### 8. Calculate the percentage of "Four short links" entry titles.

In [ ]:
# No se puede responder

### 9. Create a Pandas data frame from the feed's entries.

In [81]:
import pandas as pd

In [101]:
url_question4.keys()
#  No entiendo bien lo que me estan pidiendo.
# Opcion1: las entradas que hay dentro de 'feed'
# Opcion2: las 'entries' dentro de la url.

dict_keys(['bozo', 'entries', 'feed', 'headers', 'href', 'status', 'encoding', 'version', 'namespaces'])

In [110]:
# Opcion1: Da un error, "All arrays must be of the same length"
#  pd.DataFrame(url_question4['feed'])
# Opcion2:
df = pd.DataFrame(url_question4['entries'])
df

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source,dc_identifier
0,NASA Sets Coverage for Dragon Port Relocation ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-sets-co...,Four crew members aboard the International Spa...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-sets-co...,False,"Mon, 01 May 2023 15:06 EDT","(2023, 5, 1, 19, 6, 0, 0, 121, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486960
1,Entrepreneurs to Pitch Ideas for Future in NAS...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/entrepreneur...,College students in NASA’s Minority University...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/entrepreneur...,False,"Thu, 27 Apr 2023 14:02 EDT","(2023, 4, 27, 18, 2, 0, 3, 117, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486922
2,NASA Updates Coverage of Roscosmos Spacewalks ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-updates...,NASA will provide live coverage as two Roscosm...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-updates...,False,"Wed, 26 Apr 2023 14:59 EDT","(2023, 4, 26, 18, 59, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486897
3,NASA Sets Coverage for Czech Republic Artemis ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-sets-co...,The Czech Republic is expected to sign the Art...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-sets-co...,False,"Wed, 26 Apr 2023 14:49 EDT","(2023, 4, 26, 18, 49, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486898
4,NASA Experts Available for Interviews About Se...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-experts...,"This spring, NASA’s S-MODE (Sub-Mesoscale Ocea...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-experts...,False,"Wed, 26 Apr 2023 14:09 EDT","(2023, 4, 26, 18, 9, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486894
5,NASA Announces Winners of 2023 Human Explorati...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-announc...,NASA has announced the winners of the 2023 Hum...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-announc...,False,"Wed, 26 Apr 2023 09:04 EDT","(2023, 4, 26, 13, 4, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486884
6,NASA Selects 12 Companies to Collaborate on Ke...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-selects...,NASA has selected 16 proposals from 12 compani...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-selects...,False,"Tue, 25 Apr 2023 14:31 EDT","(2023, 4, 25, 18, 31, 0, 1, 115, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486867
7,NASA Announces Student Winners of Power to Exp...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-announc...,NASA selected three winners out of nine finali...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-announc...,False,"Tue, 25 Apr 2023 10:30 EDT","(2023, 4, 25, 14, 30, 0, 1, 115, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486862
8,"NASA, Rocket Lab Set Coverage for Tropical Cyc...","{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-rocket-...,"NASA and Rocket Lab are targeting 9 p.m. EDT, ...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-rocket-...,False,"Mon, 24 Apr 2023 15:18 EDT","(2023, 4, 24, 19, 18, 0, 0, 114, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486848
9,"VP Harris, South Korea President Yoon Suk Yeol...","{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/vp-harris-so...,Vice President Kamala Harris and Republic of K...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/vp-harris-so...,False,"Mon, 24 Apr 2023 10:51 EDT","(2023, 4, 24, 14, 51, 0, 0, 114, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486837

### 10. Count the number of entries per author and sort them in descending order.

In [109]:
# No tiene la key 'author' para hacer el conteo.
url_question4['entries'][0].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source', 'dc_identifier'])

In [112]:
# Lo hago por titulos.

contar_titulos = df['title'].value_counts().sort_values(ascending=False)
contar_titulos

NASA Sets Coverage for Dragon Port Relocation on Space Station            1
Entrepreneurs to Pitch Ideas for Future in NASA ‘Space Tank’              1
NASA Updates Coverage of Roscosmos Spacewalks at Space Station            1
NASA Sets Coverage for Czech Republic Artemis Accords Signing Ceremony    1
NASA Experts Available for Interviews About Sea and Sky Campaign          1
NASA Announces Winners of 2023 Human Exploration Rover Challenge          1
NASA Selects 12 Companies to Collaborate on Key Technology Development    1
NASA Announces Student Winners of Power to Explore Challenge              1
NASA, Rocket Lab Set Coverage for Tropical Cyclones Mission               1
VP Harris, South Korea President Yoon Suk Yeol to Visit NASA Goddard      1
Name: title, dtype: int64

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [114]:
df['len_titulo'] = df['title'].apply(len)
df_nuevo = df.loc[:, ['title', 'len_titulo']]
df_nuevo

                                               title  len_titulo
0  NASA Sets Coverage for Dragon Port Relocation ...          62
1  Entrepreneurs to Pitch Ideas for Future in NAS...          60
2  NASA Updates Coverage of Roscosmos Spacewalks ...          62
3  NASA Sets Coverage for Czech Republic Artemis ...          70
4  NASA Experts Available for Interviews About Se...          64
5  NASA Announces Winners of 2023 Human Explorati...          64
6  NASA Selects 12 Companies to Collaborate on Ke...          70
7  NASA Announces Student Winners of Power to Exp...          60
8  NASA, Rocket Lab Set Coverage for Tropical Cyc...          59
9  VP Harris, South Korea President Yoon Suk Yeol...          68

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [128]:
ml_df = [df["summary_detail"].str.contains("machine learning")]
ml_df

[0   NaN
 1   NaN
 2   NaN
 3   NaN
 4   NaN
 5   NaN
 6   NaN
 7   NaN
 8   NaN
 9   NaN
 Name: summary_detail, dtype: float64]